.LMBERWindow {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
}

.HeaderText {
  color: white;
}

.SendMessageBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
